@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=DM+Serif+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / */
body {
  font-family: "Archivo", sans-serif;
  overflow-x: hidden;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px black solid;
}

.logo a h1 {
  font-size: 30px;
  font-family: "DM Serif Display", serif;
}
.logo a {
  color: transparent;
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 0 0.8rem;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 0.62rem 5%;
    background: white;
  }
}
.hamburger {
  display: none;
}

.mobile-menu {
  position: fixed;
  z-index: 0;
  width: 300px;
  max-width: 300px;
  background: white;
  border-left: 2px black solid;
  height: 100vh;
  top: 0;
  right: -300px;
  transition: 0.2s ease-in-out all;
}
.nav-links-mobile a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-links-mobile li {
  margin: 1.7rem;
  letter-spacing: 1px;
  list-style: none;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.fade-out {
  right: -2px;
}

.Home_hero {
  display: flex;
  flex-direction: row;
  padding: 14rem 5.5% 10rem 5.5%;
  justify-content: space-between;
  background-color: #faebd7;
  border-bottom: 2px black solid;
}
.Home_hero .title {
  font-size: 55px;
  font-family: "DM Serif Display", serif;
  line-height: 3.8rem;
}
.right img {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
}
.left .p1,
.left .p2 {
  font-size: 1.45rem;
  padding: 0.8rem 3.5rem 0.8rem 0;
  line-height: 2.2rem;
}
.left .buttons {
  padding: 0.8rem 0;
  display: flex;
  flex-direction: row;
}

.buttons a,
.last-section a {
  border: 2px solid black;
  border-radius: 0px;
  padding: 0.8rem 1.3rem;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  font-weight: bold;
  color: rgb(51, 51, 51);
  transition: 0.3s ease all;
}
.buttons a:hover , .last-section a:hover{
  background: black;
  color: white;
  
}
.buttons .btn2 {
  margin-left: 1rem;
}
.buttons .btn1 {
  background: white;
}
.right img {
  margin-top: -60px;
}

.second-title {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  text-align: center;
  margin: auto;
  max-width: 725px;
  padding-top: 3rem;
  line-height: 2.75rem;
}
.icons-section .icons img {
  max-width: 100px;
  min-width: 99px;
}
.icons-section .icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icons-section .icons p {
  max-width: 300px;
  font-size: 18px;
  text-align: center;
  margin: auto;
  line-height: 1.7rem;
}
.icons-section {
  padding: 3rem 5rem 3rem 5rem;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 78%;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.8rem 0 1.8rem 0;
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
  nav {
    background: red;
    padding: 0.62rem 20px;
  }
  .Home_hero {
    padding: 10rem 1.5rem 4rem 1rem;
  }
  .right img {
    margin-top: 50px;
  }
  .icons-section {
    padding: 3rem 0rem 3rem 0rem;
    width: 95%;
  }
}
@media screen and (max-width: 930px) {
  .icons-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    max-width: 440px;
  }
  .icons-section .icons img,
  .icons-section .icons p {
    margin: 0 0rem 0 0rem;
  }
}
@media screen and (max-width: 770px) {
  .hamburger {
    display: block;
    z-index: 10;
    cursor: pointer;
  }
  .hamburger img {
    width: 30px;
  }
  nav {
    background: greenyellow;
    padding: 0.5rem 15px;
  }
  .logo a h1 {
    font-size: 1.55rem;
  }
  .nav-links {
    display: none;
  }
  .Home_hero {
    padding: 5.8rem 1rem 2.1rem 1rem;
  }
  .right img {
    display: none;
  }
  .left .title {
    font-size: 32px;
    line-height: 2.4rem;
  }
  .left .p1,
  .left .p2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0.8rem 1rem 0.6rem 0;
  }
  .icons-section .icons {
    flex-direction: column;
  }
  .icons-section .icons p {
    margin-top: 25px;
  }
  .second-title {
    font-size: 32px;
    padding: 3rem 1.5rem 3rem 1.5rem;
    line-height: 2.3rem;
  }
  .icons-section {
    padding: 0;
    margin-top: -30px;
  }
}
.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}
.last-section h2 {
  max-width: 500px;
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  line-height: 1.1;
}
.last-section a {
  margin-top:1.5rem;
}
footer{
  background: black;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  flex-direction: column;
}
.footer-links a , footer p{
  color: white;
  text-decoration: none;
}
footer p{
  padding: 0.5rem 0rem;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0.5rem 0rem;
}
.footer-links li {
  list-style: none;
  padding: 0rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
}
@media screen and (max-width:600px) {
  .last-section h2{
    max-width: 350px;
  }
}
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*
/* white = pc / red = tablet / green mobile / /*

